<html>
<head>
<meta charset="UTF-8" />
<title>Menery Socket test</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body style="height: 100%; margin: 0">
<p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
<div id="container" style="height: 100%"></div>
</body>
<script language="JavaScript">

$(document).ready(function() {
    var ins = "hshshs";
    var c = 1;
    var mdata = [];
    var chart = {
      type: 'line',
      animation: Highcharts.svg, // don't animate in IE < IE 10.
      marginRight: 10,
      events: {
         load: function () {
            // set up the updating of the chart each second
            var series = this.series[0];
            setInterval(function () {
               // var x = (new Date()).getTime(), // current time
               // y = Math.random();
                var _x = (new Date).getTime();
                var _y = Math.random()*200-100+70000;
                series.addPoint([_x,_y], true, true);
            }, 500);
         }
      }
   };
   c = chart;
   var title = {
      text: 'Live random data'   
   };   
   var xAxis = {
      type: 'datetime',
      tickPixelInterval: 150
   };
   var yAxis = {
      title: {
         text: 'Value'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };
   var tooltip = {
      formatter: function () {
      return '<b>' + this.series.name + '</b><br/>' +
         // Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
         this.x + '<br/>' +
         Highcharts.numberFormat(this.y, 2);
      }
   };
   var plotOptions = {
      area: {
         pointStart: 1940,
         marker: {
            enabled: false,
            symbol: 'circle',
            radius: 2,
            states: {
               hover: {
                 enabled: true
               }
            }
         }
      }
   };
   var legend = {
      enabled: false
   };
   var exporting = {
      enabled: false
   };
   var series= [{
      name: 'data',
      data: (function () {
         // generate an array of random data
         var data = [],time = (new Date()).getTime(),i;
         var _x = (new Date).getTime();
         var _y = Math.random()*200-100+70000;

         for (i = -19; i <= 0; i += 1) {
            data.push({
               x: (new Date).getTime(),
               y: 0
            });
         }
         return data;
      }())    
   }];     
      
   var json = {};   
   json.chart = chart; 
   json.title = title;     
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis; 
   json.legend = legend;  
   json.exporting = exporting;   
   json.series = series;
   json.plotOptions = plotOptions;
   
   
   Highcharts.setOptions({
      global: {
         useUTC: false
      }
   });
   $('#container').highcharts(json);
});
</script>
</html>